<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-90</integer>
      <key>V</key>
      <integer>-108</integer>
      <key>W</key>
      <integer>-108</integer>
      <key>Y</key>
      <integer>-72</integer>
      <key>c</key>
      <integer>-18</integer>
      <key>quotesingle</key>
      <integer>-108</integer>
      <key>space</key>
      <integer>-54</integer>
      <key>v</key>
      <integer>-18</integer>
      <key>w</key>
      <integer>-18</integer>
      <key>y</key>
      <integer>-18</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>seven</key>
      <integer>-18</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-36</integer>
      <key>O</key>
      <integer>-27</integer>
      <key>comma</key>
      <integer>-45</integer>
      <key>period</key>
      <integer>-45</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>odieresis</key>
      <integer>-18</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>a</key>
      <integer>-18</integer>
      <key>y</key>
      <integer>-36</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>A</key>
      <integer>-27</integer>
      <key>O</key>
      <integer>-36</integer>
      <key>T</key>
      <integer>-72</integer>
      <key>V</key>
      <integer>-108</integer>
      <key>W</key>
      <integer>-108</integer>
      <key>Y</key>
      <integer>-54</integer>
      <key>quotesingle</key>
      <integer>-108</integer>
      <key>y</key>
      <integer>-27</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>V</key>
      <integer>-54</integer>
      <key>W</key>
      <integer>-54</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-54</integer>
      <key>comma</key>
      <integer>-72</integer>
      <key>period</key>
      <integer>-72</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>O</key>
      <integer>-54</integer>
      <key>T</key>
      <integer>-90</integer>
      <key>V</key>
      <integer>-108</integer>
      <key>W</key>
      <integer>-108</integer>
      <key>Y</key>
      <integer>-45</integer>
      <key>odieresis</key>
      <integer>-54</integer>
      <key>y</key>
      <integer>-27</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-54</integer>
      <key>a</key>
      <integer>-45</integer>
      <key>bracketright</key>
      <integer>54</integer>
      <key>c</key>
      <integer>-45</integer>
      <key>colon</key>
      <integer>-90</integer>
      <key>comma</key>
      <integer>-90</integer>
      <key>e</key>
      <integer>-90</integer>
      <key>guillemotleft</key>
      <integer>-108</integer>
      <key>guillemotright</key>
      <integer>-108</integer>
      <key>hyphen</key>
      <integer>-72</integer>
      <key>i</key>
      <integer>0</integer>
      <key>o</key>
      <integer>-72</integer>
      <key>odieresis</key>
      <integer>-18</integer>
      <key>period</key>
      <integer>-90</integer>
      <key>r</key>
      <integer>-27</integer>
      <key>s</key>
      <integer>-72</integer>
      <key>semicolon</key>
      <integer>-54</integer>
      <key>space</key>
      <integer>-36</integer>
      <key>udieresis</key>
      <integer>-18</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-108</integer>
      <key>AE</key>
      <integer>-108</integer>
      <key>a</key>
      <integer>-108</integer>
      <key>colon</key>
      <integer>-90</integer>
      <key>comma</key>
      <integer>-108</integer>
      <key>e</key>
      <integer>-90</integer>
      <key>germandbls</key>
      <integer>-36</integer>
      <key>guillemotleft</key>
      <integer>-108</integer>
      <key>guillemotright</key>
      <integer>-108</integer>
      <key>hyphen</key>
      <integer>-36</integer>
      <key>i</key>
      <integer>-27</integer>
      <key>o</key>
      <integer>-90</integer>
      <key>odieresis</key>
      <integer>-90</integer>
      <key>period</key>
      <integer>-108</integer>
      <key>r</key>
      <integer>-90</integer>
      <key>s</key>
      <integer>-108</integer>
      <key>semicolon</key>
      <integer>-90</integer>
      <key>seven</key>
      <integer>-72</integer>
      <key>space</key>
      <integer>-72</integer>
      <key>u</key>
      <integer>-45</integer>
      <key>udieresis</key>
      <integer>-72</integer>
      <key>y</key>
      <integer>-45</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-108</integer>
      <key>a</key>
      <integer>-90</integer>
      <key>colon</key>
      <integer>-90</integer>
      <key>comma</key>
      <integer>-108</integer>
      <key>e</key>
      <integer>-90</integer>
      <key>germandbls</key>
      <integer>-36</integer>
      <key>guillemotleft</key>
      <integer>-108</integer>
      <key>guillemotright</key>
      <integer>-108</integer>
      <key>hyphen</key>
      <integer>-27</integer>
      <key>i</key>
      <integer>-18</integer>
      <key>o</key>
      <integer>-72</integer>
      <key>odieresis</key>
      <integer>-90</integer>
      <key>period</key>
      <integer>-90</integer>
      <key>r</key>
      <integer>-18</integer>
      <key>s</key>
      <integer>-90</integer>
      <key>semicolon</key>
      <integer>-27</integer>
      <key>seven</key>
      <integer>-72</integer>
      <key>space</key>
      <integer>-72</integer>
      <key>u</key>
      <integer>-18</integer>
      <key>udieresis</key>
      <integer>-72</integer>
      <key>y</key>
      <integer>-18</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>i</key>
      <integer>-36</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-54</integer>
      <key>a</key>
      <integer>-90</integer>
      <key>colon</key>
      <integer>-72</integer>
      <key>comma</key>
      <integer>-90</integer>
      <key>e</key>
      <integer>-90</integer>
      <key>guillemotleft</key>
      <integer>-108</integer>
      <key>guillemotright</key>
      <integer>-108</integer>
      <key>hyphen</key>
      <integer>-36</integer>
      <key>i</key>
      <integer>-27</integer>
      <key>o</key>
      <integer>-90</integer>
      <key>p</key>
      <integer>-36</integer>
      <key>period</key>
      <integer>-90</integer>
      <key>q</key>
      <integer>-90</integer>
      <key>s</key>
      <integer>-108</integer>
      <key>semicolon</key>
      <integer>-72</integer>
      <key>seven</key>
      <integer>-108</integer>
      <key>space</key>
      <integer>-27</integer>
      <key>u</key>
      <integer>-45</integer>
      <key>v</key>
      <integer>-18</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>quoteright</key>
      <integer>-36</integer>
      <key>y</key>
      <integer>-27</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>quotesingle</key>
      <integer>-18</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>J</key>
      <integer>54</integer>
      <key>seven</key>
      <integer>54</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>Adieresis</key>
      <integer>-36</integer>
      <key>seven</key>
      <integer>-18</integer>
    </dict>
    <key>colon</key>
    <dict>
      <key>space</key>
      <integer>-108</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>quoteright</key>
      <integer>-72</integer>
      <key>space</key>
      <integer>-72</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>quotesingle</key>
      <integer>-18</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>Y</key>
      <integer>-90</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>five</key>
      <integer>-45</integer>
      <key>seven</key>
      <integer>-18</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>bracketright</key>
      <integer>54</integer>
      <key>comma</key>
      <integer>-36</integer>
      <key>exclam</key>
      <integer>54</integer>
      <key>question</key>
      <integer>27</integer>
      <key>quotesingle</key>
      <integer>45</integer>
      <key>space</key>
      <integer>-36</integer>
    </dict>
    <key>f_f</key>
    <dict>
      <key>comma</key>
      <integer>-36</integer>
      <key>exclam</key>
      <integer>54</integer>
      <key>question</key>
      <integer>27</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>five</key>
      <integer>-45</integer>
      <key>nine</key>
      <integer>-27</integer>
      <key>six</key>
      <integer>-27</integer>
      <key>zero</key>
      <integer>-45</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>five</key>
      <integer>-54</integer>
      <key>seven</key>
      <integer>-45</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>j</key>
      <integer>45</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>Adieresis</key>
      <integer>-36</integer>
      <key>C</key>
      <integer>-27</integer>
      <key>T</key>
      <integer>-18</integer>
      <key>V</key>
      <integer>-18</integer>
      <key>W</key>
      <integer>-18</integer>
      <key>Y</key>
      <integer>-18</integer>
      <key>asterisk</key>
      <integer>-18</integer>
    </dict>
    <key>guillemotleft</key>
    <dict>
      <key>V</key>
      <integer>-108</integer>
      <key>W</key>
      <integer>-108</integer>
      <key>Y</key>
      <integer>-108</integer>
      <key>i</key>
      <integer>-108</integer>
    </dict>
    <key>guillemotright</key>
    <dict>
      <key>V</key>
      <integer>-108</integer>
      <key>W</key>
      <integer>-108</integer>
      <key>Y</key>
      <integer>-108</integer>
      <key>i</key>
      <integer>-108</integer>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>V</key>
      <integer>-108</integer>
      <key>W</key>
      <integer>-108</integer>
      <key>i</key>
      <integer>-90</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>hyphen</key>
      <integer>-18</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>quotesingle</key>
      <integer>-27</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>hyphen</key>
      <integer>-18</integer>
      <key>quoteright</key>
      <integer>-18</integer>
      <key>quotesingle</key>
      <integer>-72</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>five</key>
      <integer>-18</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>T</key>
      <integer>-72</integer>
      <key>V</key>
      <integer>-90</integer>
      <key>W</key>
      <integer>-72</integer>
      <key>hyphen</key>
      <integer>18</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>J</key>
      <integer>54</integer>
      <key>seven</key>
      <integer>54</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>quoteright</key>
      <integer>-72</integer>
      <key>space</key>
      <integer>-72</integer>
    </dict>
    <key>quoteleft</key>
    <dict>
      <key>Y</key>
      <integer>18</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>m</key>
      <integer>-36</integer>
      <key>s</key>
      <integer>-72</integer>
      <key>space</key>
      <integer>-72</integer>
    </dict>
    <key>quotesingle</key>
    <dict>
      <key>U</key>
      <integer>18</integer>
      <key>i</key>
      <integer>-72</integer>
      <key>quotesingle</key>
      <integer>-36</integer>
      <key>s</key>
      <integer>-45</integer>
      <key>t</key>
      <integer>-27</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>c</key>
      <integer>-9</integer>
      <key>comma</key>
      <integer>-36</integer>
      <key>d</key>
      <integer>-9</integer>
      <key>e</key>
      <integer>-9</integer>
      <key>g</key>
      <integer>-18</integer>
      <key>hyphen</key>
      <integer>-18</integer>
      <key>m</key>
      <integer>18</integer>
      <key>n</key>
      <integer>18</integer>
      <key>o</key>
      <integer>-9</integer>
      <key>period</key>
      <integer>-36</integer>
      <key>q</key>
      <integer>-27</integer>
      <key>question</key>
      <integer>36</integer>
      <key>quotesingle</key>
      <integer>-18</integer>
      <key>space</key>
      <integer>-27</integer>
      <key>t</key>
      <integer>18</integer>
      <key>u</key>
      <integer>18</integer>
      <key>v</key>
      <integer>36</integer>
      <key>w</key>
      <integer>36</integer>
      <key>x</key>
      <integer>36</integer>
      <key>y</key>
      <integer>36</integer>
      <key>z</key>
      <integer>9</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>quotesingle</key>
      <integer>-36</integer>
    </dict>
    <key>semicolon</key>
    <dict>
      <key>space</key>
      <integer>-108</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>comma</key>
      <integer>-72</integer>
      <key>five</key>
      <integer>-27</integer>
      <key>i</key>
      <integer>-72</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>five</key>
      <integer>-27</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>i</key>
      <integer>-36</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>A</key>
      <integer>-54</integer>
      <key>T</key>
      <integer>-36</integer>
      <key>V</key>
      <integer>-72</integer>
      <key>W</key>
      <integer>-72</integer>
      <key>Y</key>
      <integer>-27</integer>
      <key>i</key>
      <integer>-72</integer>
      <key>quoteleft</key>
      <integer>-72</integer>
      <key>quoteright</key>
      <integer>-108</integer>
      <key>space</key>
      <integer>-225</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>five</key>
      <integer>-27</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>five</key>
      <integer>-45</integer>
      <key>seven</key>
      <integer>-27</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>quotesingle</key>
      <integer>-54</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>A</key>
      <integer>-18</integer>
      <key>comma</key>
      <integer>-54</integer>
      <key>period</key>
      <integer>-72</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>comma</key>
      <integer>-72</integer>
      <key>odieresis</key>
      <integer>-18</integer>
      <key>period</key>
      <integer>-72</integer>
      <key>seven</key>
      <integer>-18</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>Adieresis</key>
      <integer>-54</integer>
      <key>V</key>
      <integer>-90</integer>
      <key>W</key>
      <integer>-90</integer>
      <key>Y</key>
      <integer>-90</integer>
      <key>comma</key>
      <integer>-54</integer>
      <key>period</key>
      <integer>-72</integer>
      <key>seven</key>
      <integer>18</integer>
      <key>slash</key>
      <integer>-18</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>five</key>
      <integer>-27</integer>
      <key>three</key>
      <integer>-27</integer>
    </dict>
  </dict>
</plist>
