<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3337</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.userData</key>
    <dict>
      <key>GSDimensionPlugin.Dimensions</key>
      <dict>
        <key>m002</key>
        <dict>
          <key>HH</key>
          <string>22</string>
          <key>HV</key>
          <string>75</string>
          <key>nV</key>
          <string>72</string>
          <key>nd</key>
          <string>20</string>
          <key>oV</key>
          <string>88</string>
        </dict>
        <key>m005</key>
        <dict>
          <key>HH</key>
          <string>45</string>
          <key>HV</key>
          <string>78</string>
          <key>OH</key>
          <string>40</string>
          <key>OV</key>
          <string>96</string>
          <key>nV</key>
          <string>72</string>
          <key>nd</key>
          <string>22</string>
          <key>oH</key>
          <string>36</string>
          <key>oV</key>
          <string>89</string>
          <key>tH</key>
          <string>45:55</string>
        </dict>
        <key>m017</key>
        <dict>
          <key>nV</key>
          <string>72.42</string>
          <key>nd</key>
          <string>12.21</string>
          <key>oH</key>
          <string>74.40</string>
          <key>oV</key>
          <string>68.39</string>
        </dict>
      </dict>
      <key>Letterink-FileVersion</key>
      <integer>9</integer>
      <key>Letterink-MinimumCompatibleMarketingVersion</key>
      <string>1.0.12 (2021-11-02)</string>
      <key>Letterink-NibStyles</key>
      <array>
        <dict>
          <key>Id</key>
          <integer>1</integer>
          <key>NibData</key>
          <dict>
            <key>AngleInDegrees</key>
            <integer>-55</integer>
          </dict>
          <key>Title</key>
          <string>s</string>
        </dict>
      </array>
      <key>Letterink-StrokeType</key>
      <string>Brush</string>
    </dict>
    <key>com.schriftgestaltung.fontMaster.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Master Icon Glyph Name</string>
        <key>value</key>
        <string>O</string>
      </dict>
      <dict>
        <key>name</key>
        <string>unitizerUnit</string>
        <key>value</key>
        <string>9</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m005</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.iconName</key>
    <string>Light_Condensed</string>
    <key>com.schriftgestaltung.keyboardIncrementBig</key>
    <integer>8</integer>
    <key>com.schriftgestaltung.keyboardIncrementHuge</key>
    <integer>64</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>J</string>
      <string>Jacute</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>Germandbls</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>ij</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jacute</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>germandbls</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>z</string>
      <string>eth.001</string>
      <string>c_t</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>f_i</string>
      <string>f_l</string>
      <string>s_t</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.tf</string>
      <string>one.tf</string>
      <string>two.tf</string>
      <string>three.tf</string>
      <string>four.tf</string>
      <string>five.tf</string>
      <string>six.tf</string>
      <string>seven.tf</string>
      <string>eight.tf</string>
      <string>nine.tf</string>
      <string>space</string>
      <string>nbspace</string>
      <string>enspace</string>
      <string>emspace</string>
      <string>enquad</string>
      <string>emquad</string>
      <string>thinspace</string>
      <string>hairspace</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>baht</string>
      <string>u2619</string>
      <string>u2740</string>
      <string>floralHeart</string>
      <string>u2767</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>degree</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>minute</string>
      <string>second</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>literSign</string>
      <string>daggerdbl</string>
      <string>estimated</string>
      <string>numero</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sheqel</string>
      <string>sterling</string>
      <string>yen</string>
      <string>cedi</string>
      <string>cent</string>
      <string>colonsign</string>
      <string>guarani</string>
      <string>hryvnia</string>
      <string>kip</string>
      <string>liraTurkish</string>
      <string>manat</string>
      <string>naira</string>
      <string>peso</string>
      <string>ruble</string>
      <string>rupee</string>
      <string>rupeeIndian</string>
      <string>tenge</string>
      <string>tugrik</string>
      <string>won</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>infinity</string>
      <string>emptyset</string>
      <string>integral</string>
      <string>Ohm</string>
      <string>increment</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>partialdiff</string>
      <string>micro</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>upArrow</string>
      <string>northEastArrow</string>
      <string>rightArrow</string>
      <string>southEastArrow</string>
      <string>downArrow</string>
      <string>southWestArrow</string>
      <string>leftArrow</string>
      <string>northWestArrow</string>
      <string>leftRightArrow</string>
      <string>upDownArrow</string>
      <string>blackCircle</string>
      <string>whiteCircle</string>
      <string>dottedCircle</string>
      <string>whiteBullet</string>
      <string>blackDiamond</string>
      <string>whiteDiamond</string>
      <string>lozenge</string>
      <string>blackSquare</string>
      <string>whiteSquare</string>
      <string>blackSmallSquare</string>
      <string>whiteSmallSquare</string>
      <string>upBlackTriangle</string>
      <string>rightBlackTriangle</string>
      <string>downBlackTriangle</string>
      <string>leftBlackTriangle</string>
      <string>upWhiteTriangle</string>
      <string>rightWhiteTriangle</string>
      <string>downWhiteTriangle</string>
      <string>leftWhiteTriangle</string>
      <string>upBlackSmallTriangle</string>
      <string>rightBlackSmallTriangle</string>
      <string>downBlackSmallTriangle</string>
      <string>leftBlackSmallTriangle</string>
      <string>upWhiteSmallTriangle</string>
      <string>rightWhiteSmallTriangle</string>
      <string>downWhiteSmallTriangle</string>
      <string>leftWhiteSmallTriangle</string>
      <string>dieresiscomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>cedillacomb</string>
      <string>dieresiscomb.case</string>
      <string>gravecomb.case</string>
      <string>acutecomb.case</string>
      <string>circumflexcomb.case</string>
      <string>ringcomb.case</string>
      <string>tildecomb.case</string>
      <string>cedillacomb.case</string>
      <string>dot</string>
      <string>inter</string>
      <string>u00ad</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>Jacute</key>
      <string>uni004A0301</string>
      <key>Ohm</key>
      <string>uni2126</string>
      <key>baht</key>
      <string>uni0E3F</string>
      <key>blackCircle</key>
      <string>uni25CF</string>
      <key>blackDiamond</key>
      <string>uni25C6</string>
      <key>blackSmallSquare</key>
      <string>uni25AA</string>
      <key>blackSquare</key>
      <string>filledbox</string>
      <key>cedi</key>
      <string>uni20B5</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>cedillacomb.case</key>
      <string>uni0327.case</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>circumflexcomb.case</key>
      <string>uni0302.case</string>
      <key>colonsign</key>
      <string>colonmonetary</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dieresiscomb.case</key>
      <string>uni0308.case</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>downArrow</key>
      <string>arrowdown</string>
      <key>downBlackSmallTriangle</key>
      <string>uni25BE</string>
      <key>downBlackTriangle</key>
      <string>triagdn</string>
      <key>downWhiteSmallTriangle</key>
      <string>uni25BF</string>
      <key>downWhiteTriangle</key>
      <string>uni25BD</string>
      <key>emquad</key>
      <string>uni2001</string>
      <key>emspace</key>
      <string>uni2003</string>
      <key>enquad</key>
      <string>uni2000</string>
      <key>enspace</key>
      <string>uni2002</string>
      <key>euro</key>
      <string>Euro</string>
      <key>floralHeart</key>
      <string>uni2766</string>
      <key>guarani</key>
      <string>uni20B2</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hairspace</key>
      <string>uni200A</string>
      <key>hryvnia</key>
      <string>uni20B4</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>increment</key>
      <string>uni2206</string>
      <key>jacute</key>
      <string>uni006A0301</string>
      <key>jdotless</key>
      <string>uni0237</string>
      <key>kip</key>
      <string>uni20AD</string>
      <key>leftArrow</key>
      <string>arrowleft</string>
      <key>leftBlackSmallTriangle</key>
      <string>uni25C2</string>
      <key>leftBlackTriangle</key>
      <string>uni25C0</string>
      <key>leftRightArrow</key>
      <string>arrowboth</string>
      <key>leftWhiteSmallTriangle</key>
      <string>uni25C3</string>
      <key>leftWhiteTriangle</key>
      <string>uni25C1</string>
      <key>liraTurkish</key>
      <string>uni20BA</string>
      <key>literSign</key>
      <string>uni2113</string>
      <key>manat</key>
      <string>uni20BC</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>naira</key>
      <string>uni20A6</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>northEastArrow</key>
      <string>uni2197</string>
      <key>northWestArrow</key>
      <string>uni2196</string>
      <key>numero</key>
      <string>uni2116</string>
      <key>peso</key>
      <string>uni20B1</string>
      <key>rightArrow</key>
      <string>arrowright</string>
      <key>rightBlackSmallTriangle</key>
      <string>uni25B8</string>
      <key>rightBlackTriangle</key>
      <string>uni25B6</string>
      <key>rightWhiteSmallTriangle</key>
      <string>uni25B9</string>
      <key>rightWhiteTriangle</key>
      <string>uni25B7</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>ringcomb.case</key>
      <string>uni030A.case</string>
      <key>ruble</key>
      <string>uni20BD</string>
      <key>rupee</key>
      <string>uni20A8</string>
      <key>rupeeIndian</key>
      <string>uni20B9</string>
      <key>sheqel</key>
      <string>uni20AA</string>
      <key>southEastArrow</key>
      <string>uni2198</string>
      <key>southWestArrow</key>
      <string>uni2199</string>
      <key>tenge</key>
      <string>uni20B8</string>
      <key>thinspace</key>
      <string>uni2009</string>
      <key>tugrik</key>
      <string>uni20AE</string>
      <key>u2619</key>
      <string>uni2619</string>
      <key>u2740</key>
      <string>uni2740</string>
      <key>u2767</key>
      <string>uni2767</string>
      <key>upArrow</key>
      <string>arrowup</string>
      <key>upBlackSmallTriangle</key>
      <string>uni25B4</string>
      <key>upBlackTriangle</key>
      <string>triagup</string>
      <key>upDownArrow</key>
      <string>arrowupdn</string>
      <key>upWhiteSmallTriangle</key>
      <string>uni25B5</string>
      <key>upWhiteTriangle</key>
      <string>uni25B3</string>
      <key>whiteBullet</key>
      <string>openbullet</string>
      <key>whiteCircle</key>
      <string>circle</string>
      <key>whiteDiamond</key>
      <string>uni25C7</string>
      <key>whiteSmallSquare</key>
      <string>uni25AB</string>
      <key>whiteSquare</key>
      <string>uni25A1</string>
      <key>won</key>
      <string>uni20A9</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>Ohm</string>
      <string>baht</string>
      <string>bar</string>
      <string>blackCircle</string>
      <string>blackDiamond</string>
      <string>blackSmallSquare</string>
      <string>blackSquare</string>
      <string>brokenbar</string>
      <string>cedi</string>
      <string>cent</string>
      <string>colonsign</string>
      <string>copyright</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>dottedCircle</string>
      <string>downArrow</string>
      <string>downBlackSmallTriangle</string>
      <string>downBlackTriangle</string>
      <string>downWhiteSmallTriangle</string>
      <string>downWhiteTriangle</string>
      <string>estimated</string>
      <string>guarani</string>
      <string>hryvnia</string>
      <string>increment</string>
      <string>integral</string>
      <string>kip</string>
      <string>leftArrow</string>
      <string>leftBlackSmallTriangle</string>
      <string>leftBlackTriangle</string>
      <string>leftRightArrow</string>
      <string>leftWhiteSmallTriangle</string>
      <string>leftWhiteTriangle</string>
      <string>liraTurkish</string>
      <string>literSign</string>
      <string>lozenge</string>
      <string>manat</string>
      <string>micro</string>
      <string>minute</string>
      <string>naira</string>
      <string>northEastArrow</string>
      <string>northWestArrow</string>
      <string>numero</string>
      <string>partialdiff</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>peso</string>
      <string>product</string>
      <string>radical</string>
      <string>registered</string>
      <string>rightArrow</string>
      <string>rightBlackSmallTriangle</string>
      <string>rightBlackTriangle</string>
      <string>rightWhiteSmallTriangle</string>
      <string>rightWhiteTriangle</string>
      <string>ruble</string>
      <string>rupee</string>
      <string>rupeeIndian</string>
      <string>second</string>
      <string>southEastArrow</string>
      <string>southWestArrow</string>
      <string>summation</string>
      <string>tenge</string>
      <string>trademark</string>
      <string>tugrik</string>
      <string>upArrow</string>
      <string>upBlackSmallTriangle</string>
      <string>upBlackTriangle</string>
      <string>upDownArrow</string>
      <string>upWhiteSmallTriangle</string>
      <string>upWhiteTriangle</string>
      <string>whiteBullet</string>
      <string>whiteCircle</string>
      <string>whiteDiamond</string>
      <string>whiteSmallSquare</string>
      <string>whiteSquare</string>
      <string>won</string>
    </array>
  </dict>
</plist>
