<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>b</key>
      <integer>-70</integer>
      <key>c</key>
      <integer>-70</integer>
      <key>d</key>
      <integer>-50</integer>
      <key>e</key>
      <integer>-70</integer>
      <key>f</key>
      <integer>-50</integer>
      <key>l</key>
      <integer>-50</integer>
      <key>m</key>
      <integer>-50</integer>
      <key>n</key>
      <integer>-50</integer>
      <key>o</key>
      <integer>-70</integer>
      <key>p</key>
      <integer>-50</integer>
      <key>q</key>
      <integer>-50</integer>
      <key>r</key>
      <integer>-50</integer>
      <key>s</key>
      <integer>-30</integer>
      <key>t</key>
      <integer>-70</integer>
      <key>u</key>
      <integer>-80</integer>
      <key>v</key>
      <integer>-70</integer>
      <key>w</key>
      <integer>-70</integer>
      <key>x</key>
      <integer>-30</integer>
      <key>z</key>
      <integer>-20</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>o</key>
      <integer>-10</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>a</key>
      <integer>-30</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>e</key>
      <integer>-30</integer>
      <key>i</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-30</integer>
      <key>u</key>
      <integer>-30</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>a</key>
      <integer>-100</integer>
      <key>e</key>
      <integer>-100</integer>
      <key>h</key>
      <integer>40</integer>
      <key>o</key>
      <integer>-80</integer>
      <key>r</key>
      <integer>-30</integer>
      <key>u</key>
      <integer>-120</integer>
      <key>w</key>
      <integer>-70</integer>
      <key>y</key>
      <integer>-70</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>a</key>
      <integer>-120</integer>
      <key>e</key>
      <integer>-80</integer>
      <key>i</key>
      <integer>0</integer>
      <key>o</key>
      <integer>-120</integer>
      <key>r</key>
      <integer>-60</integer>
      <key>u</key>
      <integer>-70</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>a</key>
      <integer>-70</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>h</key>
      <integer>50</integer>
      <key>o</key>
      <integer>-50</integer>
      <key>r</key>
      <integer>-30</integer>
      <key>u</key>
      <integer>-30</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>a</key>
      <integer>-50</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-50</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>adieresis</key>
      <integer>80</integer>
      <key>e</key>
      <integer>0</integer>
      <key>o</key>
      <integer>0</integer>
      <key>odieresis</key>
      <integer>80</integer>
      <key>udieresis</key>
      <integer>70</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>f</key>
      <integer>90</integer>
      <key>j</key>
      <integer>40</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>g</key>
      <integer>20</integer>
      <key>o</key>
      <integer>0</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>u</key>
      <integer>-20</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
      <key>d</key>
      <integer>-50</integer>
      <key>o</key>
      <integer>-30</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>s</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
