<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.tf</key>
    <string>one.tf.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>uni0302.case</key>
    <string>uni0302.case.glif</string>
    <key>v</key>
    <string>v.glif</string>
  </dict>
</plist>
