<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>G</key>
      <integer>-60</integer>
      <key>O</key>
      <integer>-43</integer>
      <key>P</key>
      <integer>-18</integer>
      <key>T</key>
      <integer>-61</integer>
      <key>U</key>
      <integer>-18</integer>
      <key>V</key>
      <integer>-135</integer>
      <key>W</key>
      <integer>-99</integer>
      <key>Y</key>
      <integer>-63</integer>
      <key>asterisk</key>
      <integer>-81</integer>
      <key>b</key>
      <integer>-45</integer>
      <key>c</key>
      <integer>-54</integer>
      <key>d</key>
      <integer>-18</integer>
      <key>hyphen</key>
      <integer>-36</integer>
      <key>m</key>
      <integer>-9</integer>
      <key>n</key>
      <integer>-27</integer>
      <key>o.sc</key>
      <integer>-20</integer>
      <key>quotedblleft</key>
      <integer>-81</integer>
      <key>quoteright</key>
      <integer>-81</integer>
      <key>quotesingle</key>
      <integer>-135</integer>
      <key>r</key>
      <integer>-18</integer>
      <key>space</key>
      <integer>-45</integer>
      <key>u</key>
      <integer>-18</integer>
      <key>v</key>
      <integer>-63</integer>
      <key>w</key>
      <integer>-45</integer>
      <key>y</key>
      <integer>-63</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
      <key>a.sc</key>
      <integer>-30</integer>
      <key>udieresis.sc</key>
      <integer>10</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>r.sc</key>
      <integer>0</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>a.sc</key>
      <integer>-50</integer>
      <key>seven.bsf</key>
      <integer>-18</integer>
      <key>u</key>
      <integer>0</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>n</key>
      <integer>-9</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-45</integer>
      <key>O</key>
      <integer>-27</integer>
      <key>a</key>
      <integer>-40</integer>
      <key>a.sc</key>
      <integer>-10</integer>
      <key>adieresis</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-36</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>i</key>
      <integer>-20</integer>
      <key>j</key>
      <integer>-20</integer>
      <key>l</key>
      <integer>18</integer>
      <key>l.sc</key>
      <integer>10</integer>
      <key>o</key>
      <integer>-58</integer>
      <key>odieresis</key>
      <integer>-60</integer>
      <key>period</key>
      <integer>-36</integer>
      <key>r</key>
      <integer>-40</integer>
      <key>u</key>
      <integer>-20</integer>
      <key>udieresis</key>
      <integer>-20</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>quotesingle</key>
      <integer>10</integer>
      <key>s</key>
      <integer>-9</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>L</key>
      <integer>36</integer>
      <key>U</key>
      <integer>18</integer>
      <key>a.sc</key>
      <integer>-10</integer>
      <key>quotesingle</key>
      <integer>20</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>G</key>
      <integer>-81</integer>
      <key>a</key>
      <integer>-27</integer>
      <key>e</key>
      <integer>-36</integer>
      <key>o</key>
      <integer>-18</integer>
      <key>o.sc</key>
      <integer>-40</integer>
      <key>y</key>
      <integer>-54</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>A</key>
      <integer>-36</integer>
      <key>O</key>
      <integer>-36</integer>
      <key>T</key>
      <integer>-81</integer>
      <key>V</key>
      <integer>-117</integer>
      <key>W</key>
      <integer>-99</integer>
      <key>Y</key>
      <integer>-45</integer>
      <key>a.sc</key>
      <integer>-10</integer>
      <key>e.sc</key>
      <integer>-10</integer>
      <key>o.sc</key>
      <integer>-20</integer>
      <key>quotesingle</key>
      <integer>-135</integer>
      <key>u.sc</key>
      <integer>-20</integer>
      <key>y</key>
      <integer>-72</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>e</key>
      <integer>-9</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>V</key>
      <integer>-45</integer>
      <key>W</key>
      <integer>-45</integer>
      <key>X</key>
      <integer>-18</integer>
      <key>Y</key>
      <integer>-18</integer>
      <key>a.sc</key>
      <integer>-20</integer>
      <key>adieresis.sc</key>
      <integer>-20</integer>
      <key>c.sc</key>
      <integer>10</integer>
      <key>f.sc</key>
      <integer>10</integer>
      <key>t.sc</key>
      <integer>10</integer>
      <key>x.sc</key>
      <integer>-10</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-90</integer>
      <key>a.sc</key>
      <integer>-90</integer>
      <key>comma</key>
      <integer>-72</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>four</key>
      <integer>-18</integer>
      <key>o</key>
      <integer>-36</integer>
      <key>o.sc</key>
      <integer>-10</integer>
      <key>period</key>
      <integer>-72</integer>
      <key>u.sc</key>
      <integer>10</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>u.sc</key>
      <integer>20</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>O</key>
      <integer>-45</integer>
      <key>T</key>
      <integer>-81</integer>
      <key>U</key>
      <integer>-36</integer>
      <key>V</key>
      <integer>-108</integer>
      <key>W</key>
      <integer>-108</integer>
      <key>Y</key>
      <integer>-54</integer>
      <key>a.sc</key>
      <integer>-10</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>e.sc</key>
      <integer>-10</integer>
      <key>o</key>
      <integer>-36</integer>
      <key>o.sc</key>
      <integer>-10</integer>
      <key>odieresis</key>
      <integer>-40</integer>
      <key>y</key>
      <integer>-65</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>A</key>
      <integer>-10</integer>
      <key>W</key>
      <integer>-36</integer>
      <key>a.sc</key>
      <integer>-30</integer>
      <key>p</key>
      <integer>-9</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-72</integer>
      <key>J</key>
      <integer>36</integer>
      <key>a</key>
      <integer>-90</integer>
      <key>a.sc</key>
      <integer>-60</integer>
      <key>adieresis</key>
      <integer>-20</integer>
      <key>bracketright</key>
      <integer>45</integer>
      <key>c</key>
      <integer>-90</integer>
      <key>colon</key>
      <integer>-90</integer>
      <key>comma</key>
      <integer>-90</integer>
      <key>d</key>
      <integer>-90</integer>
      <key>e</key>
      <integer>-90</integer>
      <key>e.sc</key>
      <integer>10</integer>
      <key>eacute</key>
      <integer>-60</integer>
      <key>ecircumflex</key>
      <integer>-40</integer>
      <key>egrave</key>
      <integer>-60</integer>
      <key>f</key>
      <integer>-9</integer>
      <key>four</key>
      <integer>-18</integer>
      <key>g</key>
      <integer>-90</integer>
      <key>guillemetleft</key>
      <integer>-99</integer>
      <key>guillemetright</key>
      <integer>-99</integer>
      <key>h</key>
      <integer>18</integer>
      <key>h.sc</key>
      <integer>20</integer>
      <key>hyphen</key>
      <integer>-108</integer>
      <key>i</key>
      <integer>9</integer>
      <key>i.original</key>
      <integer>0</integer>
      <key>i.sc</key>
      <integer>10</integer>
      <key>iacute</key>
      <integer>18</integer>
      <key>icircumflex</key>
      <integer>36</integer>
      <key>idieresis</key>
      <integer>63</integer>
      <key>igrave</key>
      <integer>18</integer>
      <key>imacron</key>
      <integer>54</integer>
      <key>o</key>
      <integer>-90</integer>
      <key>o.sc</key>
      <integer>-20</integer>
      <key>odieresis</key>
      <integer>-20</integer>
      <key>otilde</key>
      <integer>-9</integer>
      <key>period</key>
      <integer>-81</integer>
      <key>quotesingle</key>
      <integer>18</integer>
      <key>r</key>
      <integer>-47</integer>
      <key>r.sc</key>
      <integer>20</integer>
      <key>rcaron</key>
      <integer>18</integer>
      <key>s</key>
      <integer>-63</integer>
      <key>semicolon</key>
      <integer>-72</integer>
      <key>space</key>
      <integer>-36</integer>
      <key>u</key>
      <integer>-70</integer>
      <key>udieresis</key>
      <integer>-18</integer>
      <key>w</key>
      <integer>-54</integer>
      <key>y</key>
      <integer>-54</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <integer>-18</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-135</integer>
      <key>AE</key>
      <integer>-117</integer>
      <key>a</key>
      <integer>-126</integer>
      <key>a.sc</key>
      <integer>-80</integer>
      <key>abreve</key>
      <integer>-27</integer>
      <key>adieresis</key>
      <integer>-50</integer>
      <key>adieresis.sc</key>
      <integer>-40</integer>
      <key>colon</key>
      <integer>-81</integer>
      <key>comma</key>
      <integer>-99</integer>
      <key>e</key>
      <integer>-121</integer>
      <key>e.sc</key>
      <integer>-40</integer>
      <key>eacute</key>
      <integer>-90</integer>
      <key>ecircumflex</key>
      <integer>-70</integer>
      <key>egrave</key>
      <integer>-60</integer>
      <key>germandbls</key>
      <integer>-36</integer>
      <key>guillemetleft</key>
      <integer>-99</integer>
      <key>guillemetright</key>
      <integer>-99</integer>
      <key>hyphen</key>
      <integer>-81</integer>
      <key>i</key>
      <integer>-38</integer>
      <key>i.original</key>
      <integer>-27</integer>
      <key>i.sc</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-81</integer>
      <key>o.sc</key>
      <integer>-70</integer>
      <key>odieresis</key>
      <integer>-60</integer>
      <key>odieresis.sc</key>
      <integer>-40</integer>
      <key>period</key>
      <integer>-126</integer>
      <key>r</key>
      <integer>-110</integer>
      <key>r.sc</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-99</integer>
      <key>s.sc</key>
      <integer>-40</integer>
      <key>semicolon</key>
      <integer>-108</integer>
      <key>seven.bsf</key>
      <integer>-63</integer>
      <key>space</key>
      <integer>-63</integer>
      <key>u</key>
      <integer>-74</integer>
      <key>y</key>
      <integer>-74</integer>
      <key>z</key>
      <integer>-60</integer>
      <key>z.sc</key>
      <integer>-40</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-117</integer>
      <key>E</key>
      <integer>10</integer>
      <key>a</key>
      <integer>-99</integer>
      <key>a.sc</key>
      <integer>-90</integer>
      <key>adieresis</key>
      <integer>-96</integer>
      <key>adieresis.sc</key>
      <integer>-60</integer>
      <key>colon</key>
      <integer>-81</integer>
      <key>comma</key>
      <integer>-99</integer>
      <key>e</key>
      <integer>-121</integer>
      <key>e.sc</key>
      <integer>-40</integer>
      <key>germandbls</key>
      <integer>-36</integer>
      <key>guillemetleft</key>
      <integer>-99</integer>
      <key>guillemetright</key>
      <integer>-99</integer>
      <key>h</key>
      <integer>18</integer>
      <key>hyphen</key>
      <integer>-45</integer>
      <key>i</key>
      <integer>-69</integer>
      <key>i.original</key>
      <integer>-18</integer>
      <key>i.sc</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-121</integer>
      <key>o.sc</key>
      <integer>-60</integer>
      <key>odieresis</key>
      <integer>-80</integer>
      <key>odieresis.sc</key>
      <integer>-40</integer>
      <key>period</key>
      <integer>-81</integer>
      <key>r</key>
      <integer>-96</integer>
      <key>r.sc</key>
      <integer>-20</integer>
      <key>s</key>
      <integer>-81</integer>
      <key>s.sc</key>
      <integer>-40</integer>
      <key>semicolon</key>
      <integer>-63</integer>
      <key>seven.bsf</key>
      <integer>-63</integer>
      <key>space</key>
      <integer>-63</integer>
      <key>u</key>
      <integer>-96</integer>
      <key>udieresis</key>
      <integer>-60</integer>
      <key>y</key>
      <integer>-76</integer>
      <key>z</key>
      <integer>-80</integer>
      <key>z.sc</key>
      <integer>-40</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>O</key>
      <integer>-18</integer>
      <key>e</key>
      <integer>-36</integer>
      <key>i.original</key>
      <integer>-36</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-54</integer>
      <key>O</key>
      <integer>-18</integer>
      <key>T</key>
      <integer>36</integer>
      <key>a</key>
      <integer>-101</integer>
      <key>colon</key>
      <integer>-81</integer>
      <key>comma</key>
      <integer>-81</integer>
      <key>e</key>
      <integer>-81</integer>
      <key>eopen</key>
      <integer>-54</integer>
      <key>g</key>
      <integer>-120</integer>
      <key>guillemetleft</key>
      <integer>-99</integer>
      <key>guillemetright</key>
      <integer>-99</integer>
      <key>hyphen</key>
      <integer>-54</integer>
      <key>i</key>
      <integer>-18</integer>
      <key>i.original</key>
      <integer>-27</integer>
      <key>o</key>
      <integer>-90</integer>
      <key>o.sc</key>
      <integer>-20</integer>
      <key>p</key>
      <integer>-76</integer>
      <key>period</key>
      <integer>-63</integer>
      <key>q</key>
      <integer>-101</integer>
      <key>quotedblbase</key>
      <integer>-36</integer>
      <key>s</key>
      <integer>-99</integer>
      <key>semicolon</key>
      <integer>-63</integer>
      <key>seven.bsf</key>
      <integer>-99</integer>
      <key>space</key>
      <integer>-36</integer>
      <key>t</key>
      <integer>-60</integer>
      <key>u</key>
      <integer>-63</integer>
      <key>v</key>
      <integer>-54</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>a.sc</key>
      <integer>-20</integer>
      <key>e</key>
      <integer>-27</integer>
      <key>e.sc</key>
      <integer>-10</integer>
      <key>u</key>
      <integer>-27</integer>
      <key>w</key>
      <integer>-54</integer>
      <key>w.sc</key>
      <integer>-20</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>quoteright</key>
      <integer>-36</integer>
      <key>quotesingle</key>
      <integer>-81</integer>
      <key>y</key>
      <integer>-18</integer>
    </dict>
    <key>a.sc</key>
    <dict>
      <key>O</key>
      <integer>-30</integer>
      <key>c.sc</key>
      <integer>-40</integer>
      <key>j.sc</key>
      <integer>10</integer>
      <key>r.sc</key>
      <integer>-10</integer>
      <key>t.sc</key>
      <integer>-50</integer>
      <key>u.sc</key>
      <integer>-40</integer>
      <key>v.sc</key>
      <integer>-80</integer>
      <key>y.sc</key>
      <integer>-20</integer>
      <key>z.sc</key>
      <integer>-20</integer>
    </dict>
    <key>adieresis.sc</key>
    <dict>
      <key>O</key>
      <integer>-20</integer>
      <key>o.sc</key>
      <integer>-20</integer>
      <key>r.sc</key>
      <integer>-10</integer>
      <key>t.sc</key>
      <integer>-30</integer>
    </dict>
    <key>ae</key>
    <dict>
      <key>b</key>
      <integer>-18</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>space</key>
      <integer>-117</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>A</key>
      <integer>-81</integer>
    </dict>
    <key>at</key>
    <dict>
      <key>y</key>
      <integer>18</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
      <key>quotesingle</key>
      <integer>-45</integer>
    </dict>
    <key>b.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-10</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>J</key>
      <integer>45</integer>
      <key>j</key>
      <integer>63</integer>
      <key>seven.bsf</key>
      <integer>45</integer>
    </dict>
    <key>bullet</key>
    <dict>
      <key>n</key>
      <integer>18</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>seven.bsf</key>
      <integer>-18</integer>
    </dict>
    <key>caroncomb</key>
    <dict>
      <key>k</key>
      <integer>-27</integer>
      <key>u</key>
      <integer>-27</integer>
    </dict>
    <key>colon</key>
    <dict>
      <key>five.tosf</key>
      <integer>-60</integer>
      <key>one.tosf</key>
      <integer>-40</integer>
      <key>seven.tosf</key>
      <integer>-60</integer>
      <key>space</key>
      <integer>-99</integer>
      <key>three.tosf</key>
      <integer>-70</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>F</key>
      <integer>18</integer>
      <key>O</key>
      <integer>-63</integer>
      <key>five.tosf</key>
      <integer>-90</integer>
      <key>four.tosf</key>
      <integer>0</integer>
      <key>nine</key>
      <integer>9</integer>
      <key>one.tosf</key>
      <integer>-30</integer>
      <key>quoteright</key>
      <integer>-63</integer>
      <key>seven.tosf</key>
      <integer>-40</integer>
      <key>six.tosf</key>
      <integer>-20</integer>
      <key>space</key>
      <integer>-63</integer>
      <key>three.tosf</key>
      <integer>-60</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>parenright</key>
      <integer>18</integer>
      <key>quotesingle</key>
      <integer>-27</integer>
    </dict>
    <key>d.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-40</integer>
      <key>quotesingle</key>
      <integer>-10</integer>
    </dict>
    <key>degree</key>
    <dict>
      <key>zero</key>
      <integer>18</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>Y</key>
      <integer>-81</integer>
      <key>quotesingle</key>
      <integer>-81</integer>
      <key>r</key>
      <integer>0</integer>
    </dict>
    <key>e.sc</key>
    <dict>
      <key>w.sc</key>
      <integer>-20</integer>
    </dict>
    <key>eight.bsf</key>
    <dict>
      <key>five.bsf</key>
      <integer>-36</integer>
      <key>seven.bsf</key>
      <integer>-18</integer>
    </dict>
    <key>eight.tosf</key>
    <dict>
      <key>colon</key>
      <integer>-20</integer>
      <key>five.tosf</key>
      <integer>-50</integer>
      <key>four.tosf</key>
      <integer>-20</integer>
      <key>nine.tosf</key>
      <integer>-10</integer>
      <key>one.tosf</key>
      <integer>-40</integer>
      <key>seven.tosf</key>
      <integer>-10</integer>
      <key>six.tosf</key>
      <integer>-10</integer>
      <key>three.tosf</key>
      <integer>-30</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>braceright</key>
      <integer>63</integer>
      <key>bracketright</key>
      <integer>45</integer>
      <key>comma</key>
      <integer>-36</integer>
      <key>e</key>
      <integer>-18</integer>
      <key>exclam</key>
      <integer>45</integer>
      <key>f</key>
      <integer>-50</integer>
      <key>hbar</key>
      <integer>18</integer>
      <key>j</key>
      <integer>18</integer>
      <key>k</key>
      <integer>0</integer>
      <key>l</key>
      <integer>-50</integer>
      <key>parenright</key>
      <integer>63</integer>
      <key>question</key>
      <integer>27</integer>
      <key>quotesingle</key>
      <integer>63</integer>
      <key>space</key>
      <integer>14</integer>
      <key>u</key>
      <integer>9</integer>
    </dict>
    <key>f.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-40</integer>
      <key>o.sc</key>
      <integer>10</integer>
      <key>t.sc</key>
      <integer>20</integer>
    </dict>
    <key>f_f</key>
    <dict>
      <key>comma</key>
      <integer>-36</integer>
      <key>exclam</key>
      <integer>45</integer>
      <key>question</key>
      <integer>27</integer>
    </dict>
    <key>five.bsf</key>
    <dict>
      <key>five.bsf</key>
      <integer>-36</integer>
      <key>nine.bsf</key>
      <integer>-27</integer>
      <key>six.bsf</key>
      <integer>-27</integer>
      <key>zero.bsf</key>
      <integer>-36</integer>
    </dict>
    <key>five.tosf</key>
    <dict>
      <key>colon</key>
      <integer>-40</integer>
      <key>comma</key>
      <integer>-50</integer>
      <key>eight.tosf</key>
      <integer>0</integer>
      <key>four.tosf</key>
      <integer>-30</integer>
      <key>one.tosf</key>
      <integer>-30</integer>
      <key>period</key>
      <integer>-60</integer>
      <key>three.tosf</key>
      <integer>-50</integer>
      <key>two.tosf</key>
      <integer>-30</integer>
      <key>zero.tosf</key>
      <integer>-20</integer>
    </dict>
    <key>florin</key>
    <dict>
      <key>a</key>
      <integer>-36</integer>
      <key>e</key>
      <integer>-36</integer>
      <key>o</key>
      <integer>-36</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>T</key>
      <integer>18</integer>
    </dict>
    <key>four.bsf</key>
    <dict>
      <key>five.bsf</key>
      <integer>-45</integer>
      <key>seven.bsf</key>
      <integer>-36</integer>
    </dict>
    <key>four.tosf</key>
    <dict>
      <key>comma</key>
      <integer>20</integer>
      <key>eight.tosf</key>
      <integer>10</integer>
      <key>five.tosf</key>
      <integer>-20</integer>
      <key>nine.tosf</key>
      <integer>20</integer>
      <key>one.tosf</key>
      <integer>-28</integer>
      <key>period</key>
      <integer>0</integer>
      <key>seven.tosf</key>
      <integer>20</integer>
      <key>six.tosf</key>
      <integer>10</integer>
      <key>three.tosf</key>
      <integer>-30</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>j</key>
      <integer>54</integer>
      <key>j.original</key>
      <integer>36</integer>
    </dict>
    <key>g.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-10</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>C</key>
      <integer>-27</integer>
      <key>T</key>
      <integer>-18</integer>
      <key>V</key>
      <integer>-18</integer>
      <key>W</key>
      <integer>-18</integer>
      <key>Y</key>
      <integer>-18</integer>
      <key>asterisk</key>
      <integer>-18</integer>
    </dict>
    <key>greater</key>
    <dict>
      <key>a.sc</key>
      <integer>-10</integer>
    </dict>
    <key>guillemetleft</key>
    <dict>
      <key>V</key>
      <integer>-99</integer>
      <key>W</key>
      <integer>-99</integer>
      <key>Y</key>
      <integer>-99</integer>
      <key>i.original</key>
      <integer>-99</integer>
    </dict>
    <key>guillemetright</key>
    <dict>
      <key>V</key>
      <integer>-99</integer>
      <key>W</key>
      <integer>-99</integer>
      <key>Y</key>
      <integer>-99</integer>
      <key>four</key>
      <integer>18</integer>
      <key>i.original</key>
      <integer>-99</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>quoteright</key>
      <integer>-54</integer>
    </dict>
    <key>h.sc</key>
    <dict>
      <key>exclam</key>
      <integer>20</integer>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>A</key>
      <integer>-36</integer>
      <key>T</key>
      <integer>-90</integer>
      <key>V</key>
      <integer>-99</integer>
      <key>W</key>
      <integer>-99</integer>
      <key>i.original</key>
      <integer>-81</integer>
    </dict>
    <key>i</key>
    <dict>
      <key>parenright</key>
      <integer>18</integer>
      <key>quotesingle</key>
      <integer>-27</integer>
    </dict>
    <key>iacute</key>
    <dict>
      <key>l</key>
      <integer>18</integer>
    </dict>
    <key>icircumflex</key>
    <dict>
      <key>l</key>
      <integer>18</integer>
    </dict>
    <key>idieresis</key>
    <dict>
      <key>l</key>
      <integer>18</integer>
    </dict>
    <key>j.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-10</integer>
      <key>quotesingle</key>
      <integer>10</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
      <key>e</key>
      <integer>-18</integer>
      <key>hyphen</key>
      <integer>-18</integer>
      <key>o</key>
      <integer>-27</integer>
      <key>p</key>
      <integer>-9</integer>
      <key>quotesingle</key>
      <integer>-81</integer>
    </dict>
    <key>k.sc</key>
    <dict>
      <key>O</key>
      <integer>-20</integer>
      <key>a.sc</key>
      <integer>-10</integer>
      <key>o.sc</key>
      <integer>-20</integer>
      <key>odieresis.sc</key>
      <integer>-40</integer>
    </dict>
    <key>kappa</key>
    <dict>
      <key>omicron</key>
      <integer>-20</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>icircumflex</key>
      <integer>18</integer>
      <key>idieresis</key>
      <integer>18</integer>
      <key>periodcentered</key>
      <integer>18</integer>
      <key>quoteright</key>
      <integer>-18</integer>
      <key>quotesingle</key>
      <integer>-27</integer>
    </dict>
    <key>l.sc</key>
    <dict>
      <key>O</key>
      <integer>-20</integer>
      <key>a.sc</key>
      <integer>-20</integer>
      <key>adieresis.sc</key>
      <integer>-10</integer>
      <key>e.sc</key>
      <integer>-10</integer>
      <key>i.sc</key>
      <integer>-10</integer>
      <key>o.sc</key>
      <integer>-30</integer>
      <key>quotedblleft</key>
      <integer>-60</integer>
      <key>quotedblright</key>
      <integer>-40</integer>
      <key>quoteleft</key>
      <integer>-60</integer>
      <key>quotesingle</key>
      <integer>-90</integer>
      <key>s.sc</key>
      <integer>0</integer>
      <key>t.sc</key>
      <integer>-40</integer>
      <key>u.sc</key>
      <integer>-20</integer>
    </dict>
    <key>lambda</key>
    <dict>
      <key>alpha</key>
      <integer>-40</integer>
      <key>omicrontonos</key>
      <integer>-40</integer>
      <key>theta</key>
      <integer>-40</integer>
    </dict>
    <key>lslash</key>
    <dict>
      <key>r</key>
      <integer>18</integer>
      <key>w</key>
      <integer>18</integer>
      <key>y</key>
      <integer>18</integer>
    </dict>
    <key>minute</key>
    <dict>
      <key>four</key>
      <integer>-63</integer>
      <key>two</key>
      <integer>18</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>asterisk</key>
      <integer>-36</integer>
      <key>hyphen</key>
      <integer>0</integer>
      <key>quoteright</key>
      <integer>-18</integer>
      <key>quotesingle</key>
      <integer>-63</integer>
      <key>v</key>
      <integer>-18</integer>
      <key>w</key>
      <integer>-18</integer>
    </dict>
    <key>n.sc</key>
    <dict>
      <key>b.sc</key>
      <integer>0</integer>
      <key>exclam</key>
      <integer>20</integer>
      <key>quotesingle</key>
      <integer>20</integer>
      <key>t.sc</key>
      <integer>0</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>second</key>
      <integer>18</integer>
    </dict>
    <key>nine.bsf</key>
    <dict>
      <key>five.bsf</key>
      <integer>-18</integer>
    </dict>
    <key>nine.tosf</key>
    <dict>
      <key>eight.tosf</key>
      <integer>10</integer>
      <key>five.tosf</key>
      <integer>-20</integer>
      <key>four.tosf</key>
      <integer>0</integer>
      <key>one.tosf</key>
      <integer>-50</integer>
      <key>seven.tosf</key>
      <integer>-20</integer>
      <key>six.tosf</key>
      <integer>10</integer>
      <key>three.tosf</key>
      <integer>-60</integer>
      <key>two.tosf</key>
      <integer>-20</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>T</key>
      <integer>-81</integer>
      <key>V</key>
      <integer>-81</integer>
      <key>W</key>
      <integer>-90</integer>
      <key>g</key>
      <integer>-9</integer>
      <key>hyphen</key>
      <integer>0</integer>
      <key>quotesingle</key>
      <integer>-81</integer>
      <key>r</key>
      <integer>-9</integer>
      <key>v</key>
      <integer>-18</integer>
      <key>x</key>
      <integer>-9</integer>
    </dict>
    <key>o.sc</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>a.sc</key>
      <integer>-20</integer>
      <key>adieresis.sc</key>
      <integer>-20</integer>
      <key>v.sc</key>
      <integer>-10</integer>
      <key>x.sc</key>
      <integer>-10</integer>
    </dict>
    <key>oacute</key>
    <dict>
      <key>lslash</key>
      <integer>0</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>degree</key>
      <integer>-63</integer>
      <key>five</key>
      <integer>-99</integer>
      <key>minute</key>
      <integer>-36</integer>
    </dict>
    <key>one.tosf</key>
    <dict>
      <key>colon</key>
      <integer>-40</integer>
      <key>comma</key>
      <integer>-30</integer>
      <key>eight.tosf</key>
      <integer>-70</integer>
      <key>five.tosf</key>
      <integer>-110</integer>
      <key>four.tosf</key>
      <integer>-60</integer>
      <key>nine.tosf</key>
      <integer>-100</integer>
      <key>one.tosf</key>
      <integer>-110</integer>
      <key>period</key>
      <integer>-20</integer>
      <key>seven.tosf</key>
      <integer>-100</integer>
      <key>six.tosf</key>
      <integer>-78</integer>
      <key>three.tosf</key>
      <integer>-119</integer>
      <key>two.tosf</key>
      <integer>-80</integer>
      <key>zero.tosf</key>
      <integer>-40</integer>
    </dict>
    <key>oopen</key>
    <dict>
      <key>w</key>
      <integer>-18</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>a</key>
      <integer>-9</integer>
      <key>l</key>
      <integer>-9</integer>
    </dict>
    <key>p.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-40</integer>
      <key>o.sc</key>
      <integer>10</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>J</key>
      <integer>45</integer>
      <key>i</key>
      <integer>18</integer>
      <key>j</key>
      <integer>54</integer>
      <key>seven.bsf</key>
      <integer>45</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>five.tosf</key>
      <integer>-100</integer>
      <key>four</key>
      <integer>-18</integer>
      <key>four.tosf</key>
      <integer>20</integer>
      <key>nine.tosf</key>
      <integer>-30</integer>
      <key>one.tosf</key>
      <integer>-30</integer>
      <key>quoteright</key>
      <integer>-63</integer>
      <key>seven</key>
      <integer>9</integer>
      <key>seven.tosf</key>
      <integer>-80</integer>
      <key>space</key>
      <integer>-63</integer>
      <key>three.tosf</key>
      <integer>-100</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>l</key>
      <integer>18</integer>
    </dict>
    <key>q.sc</key>
    <dict>
      <key>u.sc</key>
      <integer>20</integer>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <key>A</key>
      <integer>-121</integer>
    </dict>
    <key>quoteleft</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>18</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>A</key>
      <integer>-81</integer>
      <key>a</key>
      <integer>-72</integer>
      <key>e</key>
      <integer>-63</integer>
      <key>m</key>
      <integer>-36</integer>
      <key>o</key>
      <integer>-72</integer>
      <key>s</key>
      <integer>-63</integer>
      <key>space</key>
      <integer>-63</integer>
      <key>u</key>
      <integer>-36</integer>
    </dict>
    <key>quotesingle</key>
    <dict>
      <key>E</key>
      <integer>10</integer>
      <key>G</key>
      <integer>-45</integer>
      <key>M</key>
      <integer>-27</integer>
      <key>T</key>
      <integer>27</integer>
      <key>U</key>
      <integer>28</integer>
      <key>a</key>
      <integer>-117</integer>
      <key>a.sc</key>
      <integer>-150</integer>
      <key>aacute</key>
      <integer>-81</integer>
      <key>comma</key>
      <integer>-126</integer>
      <key>e</key>
      <integer>-81</integer>
      <key>e.sc</key>
      <integer>-30</integer>
      <key>eacute.sc</key>
      <integer>-10</integer>
      <key>i.original</key>
      <integer>-63</integer>
      <key>i.sc</key>
      <integer>-30</integer>
      <key>m.sc</key>
      <integer>-60</integer>
      <key>o</key>
      <integer>-81</integer>
      <key>o.sc</key>
      <integer>-80</integer>
      <key>quotesingle</key>
      <integer>-36</integer>
      <key>s</key>
      <integer>-81</integer>
      <key>s.sc</key>
      <integer>-60</integer>
      <key>space</key>
      <integer>-108</integer>
      <key>t</key>
      <integer>-63</integer>
      <key>t.sc</key>
      <integer>-20</integer>
      <key>u</key>
      <integer>-27</integer>
      <key>u.sc</key>
      <integer>-10</integer>
      <key>y.sc</key>
      <integer>-10</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>c</key>
      <integer>-9</integer>
      <key>comma</key>
      <integer>-36</integer>
      <key>d</key>
      <integer>-9</integer>
      <key>e</key>
      <integer>-9</integer>
      <key>g</key>
      <integer>-18</integer>
      <key>hyphen</key>
      <integer>-18</integer>
      <key>m</key>
      <integer>18</integer>
      <key>n</key>
      <integer>18</integer>
      <key>o</key>
      <integer>-9</integer>
      <key>p</key>
      <integer>18</integer>
      <key>period</key>
      <integer>-63</integer>
      <key>q</key>
      <integer>-27</integer>
      <key>question</key>
      <integer>36</integer>
      <key>quotesingle</key>
      <integer>-18</integer>
      <key>space</key>
      <integer>-27</integer>
      <key>t</key>
      <integer>27</integer>
      <key>u</key>
      <integer>18</integer>
      <key>v</key>
      <integer>18</integer>
      <key>w</key>
      <integer>36</integer>
      <key>x</key>
      <integer>36</integer>
      <key>y</key>
      <integer>36</integer>
      <key>z</key>
      <integer>9</integer>
    </dict>
    <key>r.sc</key>
    <dict>
      <key>O</key>
      <integer>-40</integer>
      <key>e.sc</key>
      <integer>-10</integer>
      <key>g.sc</key>
      <integer>-37</integer>
      <key>o.sc</key>
      <integer>-20</integer>
      <key>period</key>
      <integer>20</integer>
      <key>t.sc</key>
      <integer>-30</integer>
      <key>udieresis.sc</key>
      <integer>-10</integer>
      <key>v.sc</key>
      <integer>-20</integer>
      <key>w.sc</key>
      <integer>-60</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>quotesingle</key>
      <integer>-36</integer>
    </dict>
    <key>s.sc</key>
    <dict>
      <key>period</key>
      <integer>20</integer>
    </dict>
    <key>second</key>
    <dict>
      <key>N</key>
      <integer>9</integer>
      <key>W</key>
      <integer>36</integer>
    </dict>
    <key>semicolon</key>
    <dict>
      <key>space</key>
      <integer>-99</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>A</key>
      <integer>-81</integer>
      <key>comma</key>
      <integer>-99</integer>
      <key>one</key>
      <integer>-18</integer>
    </dict>
    <key>seven.bsf</key>
    <dict>
      <key>comma</key>
      <integer>-63</integer>
      <key>five.bsf</key>
      <integer>-27</integer>
      <key>i.original</key>
      <integer>-63</integer>
    </dict>
    <key>seven.tosf</key>
    <dict>
      <key>colon</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-80</integer>
      <key>eight.tosf</key>
      <integer>-20</integer>
      <key>five.tosf</key>
      <integer>-50</integer>
      <key>four.tosf</key>
      <integer>-60</integer>
      <key>one.tosf</key>
      <integer>-70</integer>
      <key>period</key>
      <integer>-80</integer>
      <key>three.tosf</key>
      <integer>-30</integer>
      <key>two.tosf</key>
      <integer>-40</integer>
      <key>zero.tosf</key>
      <integer>-20</integer>
    </dict>
    <key>six.bsf</key>
    <dict>
      <key>five.bsf</key>
      <integer>-27</integer>
    </dict>
    <key>six.tosf</key>
    <dict>
      <key>comma</key>
      <integer>0</integer>
      <key>eight.tosf</key>
      <integer>10</integer>
      <key>five.tosf</key>
      <integer>-40</integer>
      <key>four.tosf</key>
      <integer>0</integer>
      <key>one.tosf</key>
      <integer>-30</integer>
      <key>seven.tosf</key>
      <integer>-20</integer>
      <key>three.tosf</key>
      <integer>-40</integer>
      <key>two.tosf</key>
      <integer>-20</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>i.original</key>
      <integer>-36</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>A</key>
      <integer>-45</integer>
      <key>L</key>
      <integer>0</integer>
      <key>S</key>
      <integer>-10</integer>
      <key>T</key>
      <integer>-16</integer>
      <key>V</key>
      <integer>-63</integer>
      <key>W</key>
      <integer>-63</integer>
      <key>Y</key>
      <integer>-27</integer>
      <key>ampersand</key>
      <integer>-117</integer>
      <key>eng</key>
      <integer>0</integer>
      <key>i.original</key>
      <integer>-63</integer>
      <key>quoteleft</key>
      <integer>-63</integer>
      <key>quoteright</key>
      <integer>-99</integer>
      <key>quotesingle</key>
      <integer>-99</integer>
      <key>space</key>
      <integer>-198</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>w</key>
      <integer>-54</integer>
    </dict>
    <key>t.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-40</integer>
      <key>adieresis.sc</key>
      <integer>-30</integer>
      <key>u.sc</key>
      <integer>10</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>minute</key>
      <integer>18</integer>
    </dict>
    <key>three.bsf</key>
    <dict>
      <key>five.bsf</key>
      <integer>-27</integer>
    </dict>
    <key>three.tosf</key>
    <dict>
      <key>colon</key>
      <integer>-20</integer>
      <key>comma</key>
      <integer>-30</integer>
      <key>eight.tosf</key>
      <integer>-30</integer>
      <key>five.tosf</key>
      <integer>-60</integer>
      <key>four.tosf</key>
      <integer>-30</integer>
      <key>nine.tosf</key>
      <integer>-40</integer>
      <key>one.tosf</key>
      <integer>-70</integer>
      <key>period</key>
      <integer>-50</integer>
      <key>seven.tosf</key>
      <integer>-40</integer>
      <key>six.tosf</key>
      <integer>-20</integer>
      <key>three.tosf</key>
      <integer>-60</integer>
      <key>two.tosf</key>
      <integer>-40</integer>
      <key>zero.tosf</key>
      <integer>-30</integer>
    </dict>
    <key>two.bsf</key>
    <dict>
      <key>five.bsf</key>
      <integer>-36</integer>
      <key>seven.bsf</key>
      <integer>-27</integer>
    </dict>
    <key>two.tosf</key>
    <dict>
      <key>five.tosf</key>
      <integer>-40</integer>
      <key>one.tosf</key>
      <integer>-30</integer>
      <key>three.tosf</key>
      <integer>-30</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>c</key>
      <integer>-9</integer>
      <key>quotesingle</key>
      <integer>-45</integer>
    </dict>
    <key>u.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-40</integer>
      <key>quotesingle</key>
      <integer>10</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>A</key>
      <integer>-63</integer>
      <key>a</key>
      <integer>-18</integer>
      <key>comma</key>
      <integer>-54</integer>
      <key>n</key>
      <integer>9</integer>
      <key>period</key>
      <integer>-63</integer>
      <key>w</key>
      <integer>18</integer>
    </dict>
    <key>v.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-60</integer>
      <key>e.sc</key>
      <integer>-10</integer>
      <key>o.sc</key>
      <integer>-20</integer>
      <key>odieresis.sc</key>
      <integer>-20</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>comma</key>
      <integer>-63</integer>
      <key>e</key>
      <integer>-27</integer>
      <key>lslash</key>
      <integer>18</integer>
      <key>o</key>
      <integer>-18</integer>
      <key>period</key>
      <integer>-63</integer>
      <key>r</key>
      <integer>9</integer>
      <key>seven.bsf</key>
      <integer>-18</integer>
      <key>x</key>
      <integer>18</integer>
    </dict>
    <key>w.sc</key>
    <dict>
      <key>a.sc</key>
      <integer>-80</integer>
      <key>adieresis.sc</key>
      <integer>-30</integer>
      <key>e.sc</key>
      <integer>-10</integer>
      <key>o.sc</key>
      <integer>-20</integer>
      <key>odieresis.sc</key>
      <integer>-10</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>e</key>
      <integer>-9</integer>
      <key>t</key>
      <integer>18</integer>
      <key>y</key>
      <integer>18</integer>
    </dict>
    <key>x.sc</key>
    <dict>
      <key>O</key>
      <integer>-10</integer>
      <key>o.sc</key>
      <integer>-10</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>V</key>
      <integer>-81</integer>
      <key>W</key>
      <integer>-81</integer>
      <key>Y</key>
      <integer>-81</integer>
      <key>c</key>
      <integer>-9</integer>
      <key>comma</key>
      <integer>-45</integer>
      <key>lslash</key>
      <integer>18</integer>
      <key>n</key>
      <integer>9</integer>
      <key>period</key>
      <integer>-63</integer>
      <key>seven.bsf</key>
      <integer>18</integer>
      <key>slash</key>
      <integer>-18</integer>
      <key>z</key>
      <integer>-18</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>o</key>
      <integer>-9</integer>
      <key>quotesingle</key>
      <integer>-36</integer>
    </dict>
    <key>z.sc</key>
    <dict>
      <key>w.sc</key>
      <integer>-10</integer>
    </dict>
    <key>zero.bsf</key>
    <dict>
      <key>five.bsf</key>
      <integer>-27</integer>
      <key>three.bsf</key>
      <integer>-27</integer>
    </dict>
    <key>zero.tosf</key>
    <dict>
      <key>five.tosf</key>
      <integer>-30</integer>
      <key>four.tosf</key>
      <integer>0</integer>
      <key>one.tosf</key>
      <integer>-40</integer>
      <key>three.tosf</key>
      <integer>-30</integer>
      <key>two.tosf</key>
      <integer>-20</integer>
    </dict>
  </dict>
</plist>
