<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>GSOffsetHorizontal</key>
      <integer>3</integer>
      <key>GSOffsetVertical</key>
      <integer>3</integer>
      <key>de.kutilek.MasterGrid.type</key>
      <string>units</string>
      <key>de.kutilek.MasterGrid.value</key>
      <array>
        <integer>16</integer>
        <integer>1</integer>
      </array>
    </dict>
  </dict>
</plist>
